<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Radiostation_BD.Properties.Settings.radiostationConnectionString"
            connectionString="server=localhost;user id=root;database=radiostation"
            providerName="MySql.Data.MySqlClient" />
        <add name="Radiostation_BD.Properties.Settings.radiostationConnectionString1"
            connectionString="user id=root;server=localhost;database=radiostation;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Radiostation_BD.Properties.Settings.radiostationConnectionString2"
            connectionString="server=localhost;user id=root;persistsecurityinfo=False;password=;database=radiostation"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>